<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/image/favicon.jpg" type="image/x-icon">
    <title>Document</title>
    <script src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/style/style.css">
</head>

<body>
    <div class="container position-relative">
        <div class="toast position-absolute" style="right: -100px;">
            <div class="toast-header">
                Toast Header
            </div>
            <div class="toast-body">
                Some text inside the toast body
            </div>
        </div>
        <div class="modal_sigup">
            <div class="modal fade show" style="display: block;" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New message</h5>

                        </div>
                        <div class="modal-body">
                            <div class="alert_messenge text-danger">

                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">Nhập Tên để chat :</label>
                                <input type="text" name="username" class="form-control" id="recipient-name">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="create_chat">chat</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content_mes">
            <div class="container-fluid h-60">
                <div class="row justify-content-center h-100">
                    <div class="col-md-4 col-xl-3 chat">
                        <div class="card mb-sm-3 mb-md-0 contacts_card">
                            <div class="card-header">
                                <div class="input-group">
                                    <input type="text" placeholder="Search..." name="" class="form-control search">
                                </div>
                            </div>
                            <div class="card-body contacts_body">
                                <ui class="contacts">

                                </ui>
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                    <div class="col-md-8 col-xl-6 chat">
                        <div class="card">
                            <div class="card-header msg_head">

                            </div>
                            <div class="card-body msg_card_body">
                                <div class="content">

                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="input-group">
                                    <input type="text" name="input_messenge" class="form-control type_msg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content_chat_all h-40">
                <div class="show_mes_all card overflow-auto col-md-11 col-xl-9 m-auto h-75">
                    <div class="content">

                    </div>
                </div>
                <div class="chat col-md-11 col-xl-9 m-auto">
                    <div class="card-footer">
                        <div class="input-group">
                            <input type="text" name="input_messenge_all" placeholder="chat all ......" class="form-control type_msg">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<li class="d-none contact_item contact_item_defaul">
    <div class="d-flex bd-highlight">
        <div class="user_info">
            <span class="username"></span>
        </div>
    </div>
</li>

<div class="d-none justify-content-end mb-4">
    <div class="msg_cotainer_send">

    </div>
</div>

<div class="d-none justify-content-start mb-4">
    <div class="msg_cotainer">

    </div>
</div>

<div class="modal-backdrop fade show"></div>
<script src="/script/script.js"></script>

</html>