<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>dinh tuan anh: home pagesssss</h1>
</body>
</html>
<script src="">
    console.log('aaaaaaaaa');
    const mysql = require('mysql');
const connection = mysql.createConnection({
  host: 'localhost',
  user: 'phpmyadmin',
  password: 'tanh1997',
  database: 'laravel'
});
connection.connect((err) => {
  if (err) throw err;
  console.log('Connected!');
});
</script>
